.breadcrumbs {
	margin: 20px 0;
}

.breadcrumbs ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.breadcrumbs li {
	position: relative;
	padding: 5px 10px;
}

.breadcrumbs li:first-child {
	padding-left: 0;
}

.breadcrumbs li a {
	margin-left: 20px;
}

.active {
	color: #333;
}